body {
    font-size: 10px;
    font-family: $f-one;
    color: $c-one;
}

.container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 3rem;
    box-sizing: border-box;
    @include breakpoint(phablet) {
        padding: 0 1.5rem;
    }
}

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    padding: .5rem 2rem;
    border: none;
    cursor: pointer;
    transition: $transition;
    border-radius: 3rem;
    @include breakpoint(tablet) {
        font-size: 1.3rem;
        padding: .2rem 1rem;
    }
    &--primary {
        background: $c-one;
        color: $c-three;
        &:hover {
            background: $c-one-hover;
        }
    }
    &--secondary {
        border: 1px solid $c-one;
        color: $c-one;
        &:hover {
            border-color: $c-one-hover;
            color: $c-one-hover;
        }
        &.active {
            background: $c-one;
            color: $c-three;
        }
    }
    &:disabled {
        opacity: .2;
        cursor: not-allowed;
    }
}

.hidden {
    display: none !important;
}

.errors {
    color: red;
    font-size: 1.4rem;
    line-height: 2rem;
}