body {
    font-size: 10px;
    font-family: $f-one;
    color: $c-one;
}

.container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 3rem;
    box-sizing: border-box;
}

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    padding: .5rem 2rem;
    border: none;
    cursor: pointer;
    transition: $transition;
    &--primary {
        background: $c-one;
        color: $c-two;
        &:hover {
            background: $c-two;
            color: $c-one;
        }
    }
}

.hidden {
    display: none;
}