// Colors //

$c-one: #2C1654;
$c-two: #FF6464;
$c-three: #00BE65;
$c-four: #FDBF50;


// Fonts //

$f-one: 'Montserrat', sans-serif;

// Shadows //

$shadow: 0 0 12px 0 rgba(193,193,193,0.5);
$shadow1: 0 0 20px rgba(0,0,0, .4);
$shadow2: 0 2px 20px 0 rgba(34,37,62,0.05);


// Transitions //

$transition: all .4s linear;


@mixin breakpoint($point) {
    @if $point == bigDesktop {
        @media (min-width: 1431px) {
            @content;
        }
    } @else if $point == onlyDesktop {
        @media (min-width: 960px) {
            @content;
        }
    } @else if $point == mediumDesktop {
        @media (max-width: 1720px) {
            @content;
        }
    }
    @else if $point == smallDesktop {
        @media (max-width: 1430px) {
            @content;
        }
    } @else if $point == smallerDesktop {
        @media (max-width: 1200px) {
            @content;
        }
    } @else if $point == tablet {
        @media (max-width: 960px) {
            @content;
        }
    } @else if $point == smallComputer {
        @media (max-height: 765px) and (min-width: 960px) {
            @content;
        }
    } @else if $point == phablet {
        @media (max-width: 600px) {
            @content;
        }
    } @else if $point == newMobile {
        @media (max-width: 500px) and (min-height: 700px) {
            @content;
        }
    } @else if $point == mobileonly {
        @media (max-width: 420px) {
            @content;
        }
    } @else if $point == smallMobile {
        @media (max-width: 330px) {
            @content;
        }
    }
}